

:root {
  --sl-content-width: 50rem;
}


main h1 { font-size: 2rem;}
main h2 { font-size: 1.8rem;}
main h3 { font-size: 1.6rem;}
main h4 { font-size: 1.4rem;}
main h5 { font-size: 1.2rem;}
main h6 { font-size: 1rem;}


.sl-markdown-content .inline-icon {
  display: inline;
}